<div class="feature col border rounded px-4 py-4">
    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
      <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
    </div>
    <h3 class="fs-2 text-body-emphasis">{{product_entry.product_name}}</h3>
    <p>Product quantity: {{product_entry.available_qty}}</p>
    <p>{{product_entry.product_description}}</p>
    <h5>Price: Rp {{product_entry.price}}</h5>

    <div class="hstack gap-3 py-3">
        <a class="icon-link" href="{% url 'main:edit_product' product_entry.pk%}">
            Edit product
        </a>
        <div class="p-2">
            <button type="button" class="btn btn-danger rounded-pill px-3" data-bs-toggle="modal" data-bs-target="#deleteConfirmation">
                Delete
            </button>
        </div>
        
    </div>
</div>

<div class="modal fade" id="deleteConfirmation" tabindex="-1" aria-labelledby="deleteConfirmation" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure want to delete this product?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Once deleted, the product can't be recovered!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a class="btn btn-danger rounded-pill px-3" role="button" href="{% url 'main:delete_product' product_entry.pk%}" type="a">Delete</a>
        </div>
      </div>
    </div>
  </div>
  