{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Mental Health Tracker</title>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}

<div class="grid grid-cols-1 gap-4 m-10 mt-32 px-8 md:px-24">
  <div> 
    <p class="text-5xl font-sans Helvetica font-bold">Welcome to <a class="underline decoration-sky-500" href="{% url 'main:show_main' %}">Pacilbay!</a></p>
  </div>
  <div>
    <p class="text-xl font-sans Helvetica">"Price is rarely the most important thing. A cheap product might sell some units. Somebody gets it home and they feel great when they pay the money, but then they get it home and use it and the joy is gone."</p>
    <p class="underline decoration-gray-950 decoration-transparent decoration-indigo-500 leading-10">- Steve Jobs</p>
  </div>
</div>

<div class="overflow-x-hidden px-16 md:px-32 pb-8 pt-16 bg-blue-200 grid grid-cols-1 gap-8">
  <div class="relative grid grid-cols-1 z-30 md:grid-cols-3 gap-8">
    <article class="text-wrap text-balance p-8 rounded-xl bg-white ">
      <p class="text-2xl font-sans Helvetica leading-10 font-bold">Nama</p>
      <p>{{ name }}</p>
    </article>
    <article class="text-wrap text-balance p-8 rounded-xl bg-white">
      <p class="text-2xl font-sans Helvetica leading-10 font-bold">Kelas</p>
      <p>{{ class }}</p>
    </article>
    <article class="text-wrap text-balance p-8 rounded-xl bg-white">
      <p class="text-2xl font-sans Helvetica leading-10 font-bold">NPM</p>
      <p>{{ npm }}</p>
    </article>
  </div>
  <div class="place-content-center relative grid grid-cols-1">
    <p class="pb-4 text-xl font-sans Helvetica leading-10 font-bold text-center">Last Login: {{last_login}}</p>
    <a href="{% url 'main:create_product_entry' %}" class="place-self-center w-60 text-center bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 rounded-lg transition duration-300 ease-in-out transform hover:scale-105 md:w-2/6">
      Add New Product Entry
  </a>
  </div>
</div>

<div class="overflow-x-hidden px-16 md:px-32 pb-8 pt-16 grid grid-cols-1 gap-8">
    {% if not product_entries %}
    <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
        <img src="{% static 'image/empty.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
        <p class="text-center text-gray-600 mt-4">Belum ada data product pada Pacilbay.</p>
    </div>
    {% else %}
    <div class="shrink relative grid grid-cols-1 sm:grid-cols-2 gap-8 lg:grid-cols-3 gap-8">
        {% for product_entry in product_entries %}
            {% include 'card_product.html' with product_entry=product_entry %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}